{# templates/admin/dashboard.html.twig #}

{% extends 'admin/layout.html.twig' %}

{% block title %}Dashboard Administrateur{% endblock %}

{% block admin_content %}
    
    
    <h1 class="mb-4">Tableau de bord</h1>
    {# <p>Bienvenue {{ currentUser }}</p> #}
    <p>Bienvenue {{ app.user.email }}</p>

    <div class="row">

        <div class="col-md-4">
            <div class="card text-bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <p class="card-text display-6">{{ nbUsers }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gestion des articles publiés</h5>
                    <p class="card-text display-6">128</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Messages</h5>
                    <p class="card-text display-6">7</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
